<%- include("partials/header.ejs") %>

<div class="container contact">
  <div class="contactTitle">
    <h1>Contact Info</h1>
  </div>


  <div class="myInfo">
  My Name <br/>
  My Street Address<br/>
  MyTown, ST ZIP <br/>

  123.456.7890

  </div>
</div>


<%- include("partials/footer.ejs") %>
